  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-12">
      <h1>About</h1>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      
      <p>Praesent tristique orci ac neque finibus accumsan. Vivamus finibus hendrerit nibh. Etiam auctor mauris tristique metus tempor mollis. Fusce id dolor sed purus maximus molestie. Aenean hendrerit odio nulla, nec lobortis ligula dignissim sit amet. Proin sollicitudin mauris ex, ac tristique dolor tempus quis. Fusce sit amet scelerisque ligula. Morbi ac dui est. Integer porttitor mi tortor, ut venenatis nibh aliquam sed. Nulla hendrerit magna arcu, quis pulvinar erat auctor nec.</p>

      <p>Vestibulum non nibh quis velit malesuada posuere finibus vel neque. Suspendisse ornare erat mi, id vestibulum sem fermentum a. Vestibulum pulvinar ac ante vitae faucibus. Vivamus tincidunt vehicula massa eu luctus. Nullam accumsan, elit tincidunt imperdiet congue, leo nulla lacinia magna, sed auctor elit nisi vitae neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla rutrum ultrices nisl tempus scelerisque. Proin dictum interdum auctor. Suspendisse eu condimentum libero. Mauris elementum interdum neque non tempus.</p>

      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
